extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nostros", class="img-fluid")
            .col-md-7 
                h1 #{pagina} 
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra placerat risus eget rhoncus. In hac habitasse platea dictumst. Nam justo sapien, vehicula id arcu nec, laoreet consequat dolor. Phasellus et aliquam mi. Nam eget mauris vel nunc gravida imperdiet. Ut at augue sed eros volutpat mattis id eu ante. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin convallis aliquet dui sit amet feugiat. Aenean venenatis pharetra pulvinar. Nullam in urna luctus libero imperdiet tristique nec in velit. Nulla hendrerit, tortor vel euismod imperdiet, libero massa fringilla urna, vitae consectetur lacus odio sit amet nulla. Donec tincidunt eros at eros dignissim vehicula. Proin eu augue enim. Phasellus at mauris mollis, dictum ligula ut, rhoncus ante. Proin tortor dolor, feugiat quis elit ut, mollis vulputate mi. Duis dignissim egestas ante ut varius.

                p Duis vel lorem leo. Aenean lacus risus, blandit placerat mollis non, congue sit amet tortor. In ultrices turpis felis, non laoreet ante lacinia ac. Maecenas eleifend diam in velit efficitur aliquet. Aliquam tempor mollis libero, ac gravida enim dictum vel. Aliquam nec eleifend nisl, eget luctus leo. Proin at interdum nisl. Pellentesque id neque at purus dictum malesuada ac sit amet diam.

                p Donec vitae euismod nibh, at porttitor neque. Morbi tincidunt consequat consectetur. Pellentesque suscipit dolor venenatis lacus suscipit, ut fringilla diam condimentum. Aenean fringilla, eros quis tincidunt cursus, metus quam molestie eros, et lobortis urna tortor id justo. Pellentesque eleifend, felis vitae rhoncus iaculis, lacus est imperdiet est, ac dapibus quam nunc et risus. Curabitur mollis aliquet justo. Proin non justo id est blandit dapibus. Vivamus vulputate ultricies purus, bibendum mollis nisi ultricies cursus. Sed aliquam felis vulputate tellus ultricies viverra. Phasellus efficitur magna facilisis velit auctor imperdiet. In vel molestie lacus. Duis suscipit ac tellus quis hendrerit. Morbi rhoncus fermentum leo, sed convallis erat pharetra ut. Maecenas elit ligula, pharetra vulputate laoreet vel, venenatis vehicula velit. Donec eu viverra nisl, a elementum eros. Curabitur felis orci, commodo vitae molestie a, aliquet quis lacus.   

    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Donec vitae euismod nibh, at porttitor neque. Morbi tincidunt consequat consectetur. Pellentesque suscipit dolor 

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Donec vitae euismod nibh, at porttitor neque. Morbi tincidunt consequat consectetur. Pellentesque suscipit dolor 

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Donec vitae euismod nibh, at porttitor neque. Morbi tincidunt consequat consectetur. Pellentesque suscipit dolor         

                
            